<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <title>Load a Project</title>
</head>


<body>

<section layout:fragment="body">
<main class="main-gris">

            <div class="container">
                <div class="d-flex fles-row justify-content-between align-items-center">
                    <h1>Crea un Proyecto</h1>
                    <a class="btn btn-outline-success" th:href="@{/user/perfil}" type="button">Volver</a>
                </div>
                <form class="form" th:object="${proyecto}" th:action="@{/newProyecto}" method="post" enctype="multipart/form-data">   <!--Aca tiene que ir la ruta donde esta el archivo Vista_formulario_Servicios.htm-->
                <!-- Campos del formulario -->
                    <label class="form-label">Título:</label>
                    <input class="form-control mb-4"
                           type="text"
                           th:field="*{nombre}"
                           required>
                    <label class="form-label">Descripción:</label>
                    <textarea class="form-control mb-4"
                              th:field="*{descripcion}"
                              rows="1"
                              required></textarea>

                    <label class="form-label">Selecciona tipo:</label>
                    <select class="form-control me-2" id="visibilidad" name="visibilidad" >
                        <option value="visibilidad">Seleccione un tipo (Publico, Privado, Grupo)</option>
                        <option th:each="visibilidad : ${T(PublicityProject.PROYECTOPUBLICIDAD.enumeration.Visibilidad).values()}"
                                th:value="${visibilidad}" th:text="${visibilidad}"></option>
                    </select>
                    <br>
                    <div class="d-grid gap-2 d-md-block">
                        <label >Fecha límite del proyecto</label><br>
                        <input type="date" class="form-control" th:field="*{fechaLimite}">
                    </div>
                    <br>
                    <label class="form-label">Selecciona Colaborador:</label>
                    <select class="form-control me-2" name="idColabs" multiple>
                        <!-- Opción predeterminada -->
                        <option disabled>Seleccionar Colaboradores</option>

                        <!-- Iterar sobre los colaboradores -->
                        <option th:each="colaborador : ${colaborador}"
                                th:value="${colaborador.id}" th:text="${colaborador.name}" />
                    </select>

                    <br>
                    <label class="form-label" for="archivo">Cargue sus archivos: </label>
                    <input class="form-control mb-4" type="file" id="archivo" name="archivos" accept="application/octet-stream/*" multiple onchange="mostrarVistaPrevia(this);">

                        <div id="imagenes-previas"></div>

                    <button class="w-100 btn btn-success btn-lg mb-4" type="submit">Crear</button>
                </form>


                </div>

</main>
</section>
</body>
</html>