<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

<body>
<section layout:fragment="body">
<main>

    <style>
  /* Estilos para los enlaces */
  a {
    color: #0056b3; /* Cambia el color a lo que desees */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s; /* Transición suave para el cambio de color */
  }

  /* Estilos para los enlaces al pasar el mouse por encima */
  a:hover {
    color: #0056b3; /* Cambia el color a lo que desees */
    text-decoration: underline; /* Agrega un subrayado al pasar el mouse por encima */
  }
</style>

</main>
</section>
</body>

</html>