<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Profile</title>
</head>

<body>
<section layout:fragment="body">
<main class="main-gris">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img th:if="${session.usuariosession.image != null}"
                     th:src="@{/image/carga/__${session.usuariosession.id}__}"
                     alt="perfil" width="250" class="rounded-circle">
                <img th:unless="${session.usuariosession.image != null}" th:src="@{/imagen/pordefecto}" alt="perfil"
                     width="250" class="rounded-circle">
            </div>
            <div class="col-md-9">
                <div class="d-flex fles-row justify-content-between align-items-center">
                    <h2>Información del Usuario</h2>
                    <div>
                        <a th:href="@{/user/edituser/{userId} (userId = ${user.id})}" class="btn btn-success" role="button">Editar</a>
                    </div>
                    <div>
                        <a th:href="@{/proyecto}" class="btn btn-success" role="button">Crear Proyecto</a>
                    </div>
                    <div>
                        <a th:href="@{/projectlist}" class="btn btn-success" role="button">Listar Proyectos</a>
                    </div>
                </div>
                <hr>
                <p><strong>Nombre: </strong><span th:text="${session.usuariosession.name}"></span></p>
                <p><strong>Apellido: </strong><span th:text="${session.usuariosession.lastName}"></span></p>
                <p><strong>Email: </strong><span th:text="${session.usuariosession.email}"></span></p>
                <p><strong>Teléfono: </strong><span th:text="${session.usuariosession.contact}"></span></p>
                <p><strong>Direción: </strong><span th:text="${session.usuariosession.address}"></span></p>
                <p sec:authorize="hasAnyRole('ADMIN')">ADMINISTRADOR</p>
                <p sec:authorize="hasAnyRole('USERAGENT')">USUARIO</p>
                <p sec:authorize="hasAnyRole('CLIENT')">CLIENTE</p>
            </div>
        </div>
        <div class="row">
            <hr>
           <!-- <div class="container" sec:authorize="hasAnyRole('ROLE_PROVIDER')">
                <h2 class="mb-0">Puntuación</h2>

-->
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between py-5">
        </div>
    </div>
</main>


<script>
    $(document).ready(function() {
      // Obtener todos los puntajes de la tabla y calcular el promedio
      let puntajes = $('td:nth-child(5)').map(function() {
        return parseInt($(this).text());
      }).get();

      let promedioPuntaje = puntajes.reduce((a, b) => a + b, 0) / puntajes.length;

      // Mostrar el promedio del puntaje en un elemento div con id "promedioPuntaje"
      $('#promedioPuntaje').text(promedioPuntaje);
    });
</script>
</section>
</body>

</html>