<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Project Detail</title>
</head>

<body>

<!-- Aquí comienza el contenido del cuerpo -->
<main class="main-gris">
<section layout:fragment="body">

    <div class="container">
        <div class="d-flex fles-row justify-content-between align-items-center">
            <h1>Datos del Proyecto</h1>
            <a
               th:href="@{/proyectoEdit/{pId} (pId = ${proyecto.id})}" class="btn btn-success" role="button">Editar</a>
            <a class="btn btn-outline-success" th:href="@{/user/perfil}" type="button">Volver</a>
        </div>

        <p>ID: <span th:text="${proyecto.id}"></span></p>
        <p>NOMBRE: <span th:text="${proyecto.nombre}"></span></p>
        <p>TIPO: <span th:text="${proyecto.visibilidad}"></span></p>
        <p>DESCRIPCIÓN: <span th:text="${proyecto.descripcion}"></span></p>
    </div>
</section>
    </main>
</body>

</html>